    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-acid-falling-on-hand:before { content: "\f100"; }
.flaticon-bike-horn:before { content: "\f101"; }
.flaticon-dog-head:before { content: "\f102"; }
.flaticon-electrocution-risk-sign:before { content: "\f103"; }
.flaticon-face-shield:before { content: "\f104"; }
.flaticon-fire-extinguisher:before { content: "\f105"; }
.flaticon-forklift:before { content: "\f106"; }
.flaticon-gas-mask:before { content: "\f107"; }
.flaticon-hook-hanging-material:before { content: "\f108"; }
.flaticon-loaded-truck-side-view:before { content: "\f109"; }
.flaticon-locked-padlock-with-chain:before { content: "\f10a"; }
.flaticon-medical-mask:before { content: "\f10b"; }
.flaticon-motorbike-helmet:before { content: "\f10c"; }
.flaticon-protection-gloves:before { content: "\f10d"; }
.flaticon-reflective-vest:before { content: "\f10e"; }
.flaticon-rock-landslide-safety-sign:before { content: "\f10f"; }
.flaticon-safety-glasses:before { content: "\f110"; }
.flaticon-safety-shirt:before { content: "\f111"; }
.flaticon-seat-belt-on-silhouette:before { content: "\f112"; }
.flaticon-silhouette-crossing-street:before { content: "\f113"; }
.flaticon-silhouette-with-safety-headphone:before { content: "\f114"; }
.flaticon-sprained-ankle:before { content: "\f115"; }
.flaticon-surveillance-camera:before { content: "\f116"; }
.flaticon-traffic-cones:before { content: "\f117"; }
.flaticon-two-knots-rope:before { content: "\f118"; }
.flaticon-woman-boots:before { content: "\f119"; }
.flaticon-worker-silhouette:before { content: "\f11a"; }
.flaticon-worker-with-gas-mask:before { content: "\f11b"; }
.flaticon-worker-with-harness:before { content: "\f11c"; }
.flaticon-working-coverall:before { content: "\f11d"; }
    
    $font-Flaticon-acid-falling-on-hand: "\f100";
    $font-Flaticon-bike-horn: "\f101";
    $font-Flaticon-dog-head: "\f102";
    $font-Flaticon-electrocution-risk-sign: "\f103";
    $font-Flaticon-face-shield: "\f104";
    $font-Flaticon-fire-extinguisher: "\f105";
    $font-Flaticon-forklift: "\f106";
    $font-Flaticon-gas-mask: "\f107";
    $font-Flaticon-hook-hanging-material: "\f108";
    $font-Flaticon-loaded-truck-side-view: "\f109";
    $font-Flaticon-locked-padlock-with-chain: "\f10a";
    $font-Flaticon-medical-mask: "\f10b";
    $font-Flaticon-motorbike-helmet: "\f10c";
    $font-Flaticon-protection-gloves: "\f10d";
    $font-Flaticon-reflective-vest: "\f10e";
    $font-Flaticon-rock-landslide-safety-sign: "\f10f";
    $font-Flaticon-safety-glasses: "\f110";
    $font-Flaticon-safety-shirt: "\f111";
    $font-Flaticon-seat-belt-on-silhouette: "\f112";
    $font-Flaticon-silhouette-crossing-street: "\f113";
    $font-Flaticon-silhouette-with-safety-headphone: "\f114";
    $font-Flaticon-sprained-ankle: "\f115";
    $font-Flaticon-surveillance-camera: "\f116";
    $font-Flaticon-traffic-cones: "\f117";
    $font-Flaticon-two-knots-rope: "\f118";
    $font-Flaticon-woman-boots: "\f119";
    $font-Flaticon-worker-silhouette: "\f11a";
    $font-Flaticon-worker-with-gas-mask: "\f11b";
    $font-Flaticon-worker-with-harness: "\f11c";
    $font-Flaticon-working-coverall: "\f11d";